<section id="stats" class="section">{% load static %}
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-12 offset-lg-3 title-section">
            <h2 class="text-heading section-heading">Our company in numbers</h2>
            <p>Our company is spreading all over the world in a very wide range and is always on the rise to
               bring the best services to you
            </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stat-item">
               <h6>245</h6>
               <p>Customers</p>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stat-item">
               <h6>27+</h6>
               <p>Expert Instruction</p>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stat-item">
               <h6>200k</h6>
               <p>Active Student</p>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stat-item">
               <h6>1127</h6>
               <p>Guidelines</p>
            </div>
         </div>
         <div class="col-md-10 offset-md-1">
            <div class="stat-img">
               <img src="{% static 'pages/images/laptop.jpg' %}" alt="">
            </div>
         </div>
      </div>
   </div>
</section>