<section id="contact" class="section">
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3 title-section">
            <h2 class="text-heading section-heading">Get More Help</h2>
            <p>Here we have more ways to get help from real humans.</p>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-3 col-sm-6 col-xs-12">
            <a href="#">
               <div class="card">
                  <i class="fas fa-user-friends"></i>
                  <p>Forums</p>
               </div>
            </a>
         </div>
         <div class="col-lg-3 col-sm-6 col-xs-12">
            <a href="#">
               <div class="card">
                  <i class="fab fa-twitter"></i>
                  <p>Twitter Support</p>
               </div>
            </a>
         </div>
         <div class="col-lg-3 col-sm-6 col-xs-12">
            <a href="#">
               <div class="card">
                  <i class="fas fa-envelope"></i>
                  <p>Email Us</p>
               </div>
            </a>
         </div>
         <div class="col-lg-3 col-sm-6 col-xs-12">
            <a href="#">
               <div class="card">
                  <i class="fas fa-phone-alt"></i>
                  <p>Phone Call</p>
               </div>
            </a>
         </div>
      </div>
   </div>
</section>
<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-9 col-sm-12  left">
            <ul>
               <li>
                  <a href="#" class="nav-link">Home</a>
               </li>
               <li>
                  <a href="#" class="nav-link">Docs</a>
               </li>
               <li>
                  <a href="#" class="nav-link">Changelog</a>
               </li>
               <li>
                  <a href="#" class="nav-link">Purchase</a>
               </li>
            </ul>
         </div>
         <div class="col-md-3 col-sm-12  right footer-logo ">
            <a id="navbar-brand" class="navbar-brand " href="#">KB</a>
         </div>
      </div>
   </div>
</footer>