<section id="companies" class="section">{% load static %}
   <div class="container">
      <h5>Used by 400+ people from the biggest companies</h5>
      <div class="company-img-container">
         <img class="company-img" src="{% static 'pages/images/amazon.png' %}" alt="">
         <img class="company-img" src="{% static 'pages/images/disney.png' %}" alt="">
         <img class="company-img" src="{% static 'pages/images/kfc.png' %}" alt="">
         <img class="company-img" src="{% static 'pages/images/mailchimp.png' %}" alt="">
         <img class="company-img" src="{% static 'pages/images/shopify.png' %}" alt="">
      </div>
   </div>
</section>
<section id="about" class="section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-4 col-md-10 col-sm-12 offset-xl-1 left">
            <div class="sticky-element">
               <h3 class="text-heading text--violet">WHY CHOOSE US?</h3>
               <h2 class="text-heading">Check out why we’re the best company for all of your
                  needs.
               </h2>
            </div>
         </div>
         <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 right">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-flex">
                  <div class="about-card">
                     <img src="{% static 'pages/images/disney.png' %}" alt="Icon">
                     <h4 class="text-heading">Multi-factor authentication.</h4>
                     <p>Increase learner engagement & knowledge retention in higher education and corporate
                        training.
                     </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-flex">
                  <div class="about-card">
                     <img src="{% static 'pages/images/favorites.png' %}" alt="Icon">
                     <h4 class="text-heading">Increase user conversion.</h4>
                     <p>Increase learner engagement & knowledge retention in higher education and corporate
                        training.
                     </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-flex">
                  <div class="about-card">
                     <img src="{% static 'pages/images/utline-with-lifeline.png' %}" alt="Icon">
                     <h4 class="text-heading">Full control over UX.</h4>
                     <p>Increase learner engagement & knowledge retention in higher education and corporate
                        training.
                     </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-flex">
                  <div class="about-card">
                     <img src="{% static 'pages/images/selective.png' %}" alt="Icon">
                     <h4 class="text-heading">Expand user funnel.</h4>
                     <p>Increase learner engagement & knowledge retention in higher education and corporate
                        training.
                     </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-flex">
                  <div class="about-card">
                     <img src="{% static 'pages/images/shield.png' %}" alt="Icon">
                     <h4 class="text-heading">Security compliant.</h4>
                     <p>Increase learner engagement & knowledge retention in higher education and corporate
                        training.
                     </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-flex">
                  <div class="about-card">
                     <img src="{% static 'pages/images/shopify.png' %}" alt="Icon">
                     <h4 class="text-heading">Integration in minutes.</h4>
                     <p>Increase learner engagement & knowledge retention in higher education and corporate
                        training.
                     </p>
                  </div>
               </div>
               <div class="col-xl-12 col-lg-12 col-sm-12 about-link-container">
                  <a class="btn primary-button" href="#">View more choices <i
                     class="fas fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>