<section id="categories" class="section">
   <div class="container guide-container">
      <div class="row">
         <div class="col-sm-12 col-md-8 offset-md-2 title-section">
            <h3 class="text-heading text--violet">GUIDE CATEGORIES</h3>
            <h2 class="text-heading">Easily create Documentation, Knowledge-base, FAQ, Forum and
               more.
            </h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 col-sm-12 cat-card">
            <div class="cat-card-content">
               <h4 class="text-heading">Getting Started</h4>
               <ul>
                  <li>
                     <a class="hvr-link" href="#">Welcome to Ghost</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Writing posts with Ghost</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Publishing options</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Managing admin settings</a>
                  </li>
                  <li>
                     <a class="btn text--green link-button" href="#">View more choices <i
                        class="fas fa-arrow-right"></i></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 cat-card">
            <div class="cat-card-content">
               <h4 class="text-heading">Advanced Usage</h4>
               <ul>
                  <li>
                     <a class="hvr-link" href="#">How do I set a publication language?</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">How do I change my configured site URL?</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">How do I set a publication language?</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">How do I change my configured site URL?</a>
                  </li>
                  <li>
                     <a class="btn text--green link-button" href="#">View more choices <i
                        class="fas fa-arrow-right"></i></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 cat-card">
            <div class="cat-card-content">
               <h4 class="text-heading">Writing posts and pages</h4>
               <ul>
                  <li>
                     <a class="hvr-link" href="#">Organising content in Ghost</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Using the editor</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Publishing Options</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">General publication settings</a>
                  </li>
                  <li>
                     <a class="btn text--green link-button" href="#">View more choices <i
                        class="fas fa-arrow-right"></i></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 col-sm-12 cat-card">
            <div class="cat-card-content">
               <h4 class="text-heading">Website Configuration</h4>
               <ul>
                  <li>
                     <a class="hvr-link" href="#">Managing your team</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Imports and exports</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Design Settings</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Design Settings</a>
                  </li>
                  <li>
                     <a class="btn text--green link-button" href="#">View more choices <i
                        class="fas fa-arrow-right"></i></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 cat-card">
            <div class="cat-card-content">
               <h4 class="text-heading">Databases</h4>
               <ul>
                  <li>
                     <a class="hvr-link" href="#">Setup home page layout</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Where do i post support query?</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Multiple Installs on One Domain</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Setup shop page</a>
                  </li>
                  <li>
                     <a class="btn text--green link-button" href="#">View more choices <i
                        class="fas fa-arrow-right"></i></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 cat-card">
            <div class="cat-card-content">
               <h4 class="text-heading">Most Popular Articles</h4>
               <ul>
                  <li>
                     <a class="hvr-link" href="#">How do i change link and button color globally</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Where do i post support query?</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Private Article</a>
                  </li>
                  <li>
                     <a class="hvr-link" href="#">Setup shop page</a>
                  </li>
                  <li>
                     <a class="btn text--green link-button" href="#">View more choices <i
                        class="fas fa-arrow-right"></i></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>