{% extends 'base.html' %}{% load static %}
{% block title %}About Page{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'pages/css/about.css' %}">
{% endblock %}
{% block header %}
<header id="header" class="container">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border">Column</div>
      <div class="p-3 border">Column</div>
      <div class="p-3 border">Column</div>
    </div>
  </div>
</header>
{% endblock header %}
{% block content %}

{% endblock %}