<!-- Page Heading -->
<h1 id="heading">{{ item.name }}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto officia est ut dicta voluptas voluptate pariatur non nostrum eveniet quo dolorem officiis repellat error, iure at provident vero harum! Tenetur numquam excepturi, veniam ipsum consequuntur corporis nam atque eligendi harum mollitia doloremque, rerum cum ad soluta. Natus aliquam accusantium aperiam.</p>
<!-- Article metadata / subheading-->
<ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
  <li>
    <time class="" data-article-date="" aria-label="Article review date" datetime="2020-08-07T18:45:18.257Z" data-article-date-source="git">08/07/2020</time>
  </li>
  <li class="readingTime">6 minutes to read</li>
  <li class="contributors-holder">
    <ul class="facepile has-margin-left-none is-small" data-bi-name="contributors">
      <li class="facepile-item">
        <a href="https://github.com/scooley" title="scooley" aria-label="scooleyGithub profile" data-src="https://github.com/scooley.png?size=32" data-contributor-name="scooley" class="facepile-item-coin">
          <img class="facepile-item-coin-image durable-image" aria-hidden="true" src="https://github.com/scooley.png?size=32" role="presentation" onerror="this.className='facepile-item-coin-image durable-image has-error';">
          <span class="facepile-item-coin-text durable-image-fallback facepile-item-teal" aria-hidden="true">s</span>
          </a>
      </li>
      <li class="facepile-item">
        <a href="https://github.com/briancain" title="briancain" aria-label="briancainGithub profile" data-src="https://github.com/briancain.png?size=32" data-contributor-name="briancain" class="facepile-item-coin">
          <img class="facepile-item-coin-image durable-image" aria-hidden="true" src="https://github.com/briancain.png?size=32" role="presentation" onerror="this.className='facepile-item-coin-image durable-image has-error';">
            <span class="facepile-item-coin-text durable-image-fallback facepile-item-red" aria-hidden="true">b</span>
          </a>
      </li>
      <li class="facepile-item">
        <a href="https://github.com/oleg-andreyev" title="oleg-andreyev" aria-label="oleg-andreyevGithub profile" data-src="https://github.com/oleg-andreyev.png?size=32" data-contributor-name="oleg-andreyev" class="facepile-item-coin">
          <img class="facepile-item-coin-image durable-image" aria-hidden="true" src="https://github.com/oleg-andreyev.png?size=32" role="presentation" onerror="this.className='facepile-item-coin-image durable-image has-error';">
            <span class="facepile-item-coin-text durable-image-fallback facepile-item-blue" aria-hidden="true">o</span>
          </a>
      </li>
      <li class="facepile-item">
        <a href="https://github.com/nschonni" title="nschonni" aria-label="nschonniGithub profile" data-src="https://github.com/nschonni.png?size=32" data-contributor-name="nschonni" class="facepile-item-coin">
          <img class="facepile-item-coin-image durable-image" aria-hidden="true" src="https://github.com/nschonni.png?size=32" role="presentation" onerror="this.className='facepile-item-coin-image durable-image has-error';">
          <span class="facepile-item-coin-text durable-image-fallback facepile-item-teal" aria-hidden="true">n</span>
        </a>
      </li>
    </ul>
  
            <!-- NAVBAR -->
            <nav id="center-doc-outline" class="doc-outline is-hidden-desktop" data-bi-name="intopic toc" role="navigation" aria-label="Article Outline">
              <h3>In this article</h3>
              <ol>
                <li>
                  <a href="#tip-0-install-hyper-v">Tip 0: Install Hyper-V</a>
                </li>
                <li>
                  <a href="#tip-1-set-up-networking-correctly">Tip 1: Set Up Networking Correctly</a>
                </li>
                <li>
                  <a href="#tip-2-use-the-hyper-v-provider">Tip 2: Use the Hyper-V Provider</a>
                </li>
                <li>
                  <a href="#tip-3-add-the-basics-to-your-vagrantfile">Tip 3: Add the basics to your Vagrantfile</a>
                </li>
                <li>
                  <a href="#trick-4-shared-folders-uses-smbv1-for-hashicorpbionic64">Trick 4: Shared folders uses SMBv1 for hashicorp/bionic64</a>
                </li>
                <li>
                  <a href="#tip-5-enable-nifty-hyper-v-features">Tip 5: Enable Nifty Hyper-V Features</a>
                </li>
                <li>
                  <a href="#tip-6-filter-for-hyper-v-compatible-boxes-on-vagrant-cloud">Tip 6: Filter for Hyper-V compatible boxes on Vagrant Cloud</a>
                </li>
                <li>
                  <a href="#tip-7-default-to-the-hyper-v-provider">Tip 7: Default to the Hyper-V Provider</a>
                </li>
                <li>
                  <a href="#wrapping-up">Wrapping Up</a>
                </li>
              </ol>
            </nav>
            <!-- Sections / Main -->
            <div class="codeHeader" id="code-try-3" data-bi-name="code-header">
              <span class="language"></span>
              <button type="button" class="action position-relative" data-bi-name="copy" aria-label="Copy code">
                <span class="icon">
                  <span class="docon docon-edit-copy" role="presentation"></span>
                </span>
                <span>Copy</span>
                <div class="successful-copy-alert position-absolute right-0 top-0 left-0 bottom-0 display-flex align-items-center justify-content-center has-text-success-invert has-background-success is-transparent" aria-hidden="true">
                  <span class="icon font-size-l">
                    <span class="docon docon-check-mark" role="presentation"></span>
                  </span>
                </div>
              </button>
            </div>
            <pre tabindex="0" class="has-inner-focus">
              <code data-author-content="vagrant box add hashicorp/bionic64 --provider hyperv">vagrant box add hashicorp/bionic64 --provider hyperv
              </code>
            </pre>
